[package]
name = "ractor_cluster"
version = "0.9.7"
authors = ["Sean Lawlor", "Evan Au", "Dillon George"]
description = "Distributed cluster environment of Ractor actors"
documentation = "https://docs.rs/ractor"
license = "MIT"
edition = "2021"
keywords = ["actor", "ractor", "cluster"]
repository = "https://github.com/slawlor/ractor"
readme = "README.md"
homepage = "https://github.com/slawlor/ractor"
categories = ["actor", "erlang"]
build = "src/build.rs"
rust-version = "1.64"

[build-dependencies]
protobuf-src = "1"
prost-build = { version = "0.12" }

[dependencies]
## Required dependencies
bytes = { version = "1" }
prost = { version = "0.12" }
prost-types = { version = "0.12" }
ractor = { version = "0.9.0", features = ["cluster"], path = "../ractor" }
ractor_cluster_derive = { version = "0.9.0", path = "../ractor_cluster_derive" }
rand = "0.8"
sha2 = "0.10"
tokio = { version = "1", features = ["rt", "time", "sync", "macros", "net", "io-util", "tracing"]}
tokio-rustls = { version = "0.26" }
tracing = "0.1"

[dev-dependencies]
tokio = { version = "1", features = ["rt", "time", "sync", "macros", "net", "io-util", "rt-multi-thread"] }
