---
---

@import "minima";

// div.wrapper {max-width:960px;margin-left:5%;}
// div.post-content > p {width:65%;max-width:640;}
// nav.toc-fixed {position:fixed;top:50px;left:60%;max-width:320px}
// nav.toc-fixed ul {list-style:none;padding-left:0;margin-left:0;}
// table {width:65%;max-width:640;}