name: Ractor Cluster integration tests
on:
  push:
    branches:
      - main
    paths:
      - 'ractor_cluster*/**'
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'ractor_cluster*/**'

jobs:
  test:
    name: Test networked cluster
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        features:
          - 'blanket_serde,cluster'
          - 'blanket_serde,cluster,async-trait'
    steps:
      - uses: actions/checkout@main

      - name: Build the docker image
        working-directory: .
        run: |
          FEATURES=${{matrix.features}} docker compose build

      - name: Authentication Handshake
        working-directory: .
        run: |
          FEATURES=${{matrix.features}} docker compose --env-file ./ractor_cluster_integration_tests/envs/auth-handshake.env up --exit-code-from node-b

      - name: Process Groups
        working-directory: .
        run: |
          FEATURES=${{matrix.features}} docker compose --env-file ./ractor_cluster_integration_tests/envs/pg-groups.env up --exit-code-from node-b

      - name: Encrypted communications
        working-directory: .
        run: |
          FEATURES=${{matrix.features}} docker compose --env-file ./ractor_cluster_integration_tests/envs/encryption.env up --exit-code-from node-b

      - name: External transport
        working-directory: .
        run: |
          FEATURES=${{matrix.features}} docker compose --env-file ./ractor_cluster_integration_tests/envs/external-transport.env up --exit-code-from node-b

      - name: Transitive connections
        working-directory: .
        run: |
          FEATURES=${{matrix.features}} docker compose --env-file ./ractor_cluster_integration_tests/envs/dist-connect.env up --exit-code-from node-c
      